@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "./theme.css";
@import "./base.css";
@import "tailwindcss/utilities.css" layer(utilities);
@import "./utilities.css";
